@media (max-width: 1023px) {
  .parent {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: 0.5fr repeat(3, 0.5fr) repeat(3, 0.5fr) 0.5fr;
    grid-column-gap: 0px;
    grid-row-gap: 0px;
  }

  .div1 {
    grid-area: 2 / 1 / 3 / 3;
  }
  .div2 {
    grid-area: 1 / 1 / 2 / 3;
  }
  .div3 {
    grid-area: 3 / 1 / 4 / 2;
  }
  .div4 {
    grid-area: 4 / 1 / 5 / 3;
  }
  .div5 {
    grid-area: 5 / 2 / 7 / 3;
  }
  .div6 {
    grid-area: 3 / 2 / 4 / 3;
  }
  .div7 {
    grid-area: 6 / 1 / 7 / 2;
  }
  .div8 {
    grid-area: 5 / 1 / 6 / 2;
    height: 100%;
  }
  .div9 {
    grid-area: 7 / 1 / 8 / 3;
  }
  .div10 {
    grid-area: 8 / 1 / 9 / 3;
  }

  .div1 .landing-text {
    width: 40%;
  }
  .div1 img {
    align-self: end;
  }

  .div2 h2 {
    font-size: 35px;
    width: 55%;
    line-height: 1.5;
  }

  .div4 {
    padding: 60px 85px 0;
  }
  .left {
    justify-content: space-between;
    margin: 0;
    /* width: 100%; */
  }

  .div4 .left img {
    width: 80%;
    margin-top: 0;

    left: -35%;
    /* bottom: -28px; */
  }

  .right p {
    width: 100%;
  }

  .div5 {
    padding: 20px 20px 80px;
  }

  .div6 {
    background-color: #f7f8f9;
  }
}

@media (max-width: 767px) {
  .parent {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 0.5fr 1fr repeat(2, 0.5fr) 1fr repeat(2, 0.5fr) repeat(
        2,
        1fr
      ) 0.25fr 0.5fr;
    grid-column-gap: 0px;
    grid-row-gap: 0px;
  }

  .div1 {
    grid-area: 2 / 1 / 3 / 2;
  }
  .div2 {
    grid-area: 1 / 1 / 2 / 2;
  }
  .div3 {
    grid-area: 3 / 1 / 4 / 2;
  }
  .div4 {
    grid-area: 5 / 1 / 6 / 2;
  }
  .div5 {
    grid-area: 8 / 1 / 10 / 2;
  }
  .div6 {
    grid-area: 4 / 1 / 5 / 2;
  }
  .div7 {
    grid-area: 7 / 1 / 8 / 2;
  }
  .div8 {
    grid-area: 6 / 1 / 7 / 2;
  }
  .div9 {
    grid-area: 10 / 1 / 11 / 2;
  }
  .div10 {
    grid-area: 11 / 1 / 12 / 2;
  }

  .div1 {
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    padding: 20px 20px 0;
  }

  .div1 .landing-text {
    width: 100%;
  }

  .div1 img {
    transform: translateX(-19%);
    width: 80%;
    margin-top: 40px;
  }

  .div2 {
    padding: 20px 10px;
  }

  .div2 h2 {
    width: 100%;
    line-height: 1.5;
    font-size: 35px;
    margin: 20px 0 10px;
  }

  .div4 {
    flex-direction: column;
  }

  .left {
    width: 100%;
    margin-left: 0;
    align-items: flex-start;
    justify-content: space-between;
  }

  .div4 .left img {
    width: 120%;
  }

  .left h3 {
    width: 100%;
    line-height: 1.5;
  }
  .right {
    width: 100%;
    margin-bottom: 20px;
  }
  .right p {
    width: 100%;
  }

  .div6 {
    background-color: #f7f8f9;
  }

  .div10 {
    flex-direction: column;
    padding: 20px;
  }
  .div10 h3 {
    width: 100%;
    text-align: center;
  }
  .div10 img {
    width: 50%;
    justify-content: space-between;
  }
}
